$black: #2e2e2e;
$dark-grey: #4e4f4f;
$slate-grey: #6e6f6f;
$light-grey: #9a9fb3;
$lightest-grey: #efefef;
$white: #ffffff;
$blue: #0074d9;
$lime: #00ff00;
$dark-green: #006600;

$pinkish-red: #0074d9;

$txt-32: 32px;
$txt-26: 26px;
$txt-24: 24px;
$txt-18: 18px;
$txt-16: 16px;
$txt-14: 14px;
$txt-12: 12px;


$heavy: 800;
$bold: 700;
$normal: 400;
