<h2>Show Subject</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @subject.name %>
  </li>

</ul>

<span><%= link "Edit", to: subject_path(@conn, :edit, @subject) %></span>
<span><%= link "Back", to: subject_path(@conn, :index) %></span>
